<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - 我的 ASP.NET 应用程序</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("小学教学辅助软件", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("首页", "Index", "Home")</li>
                    <li>@Html.ActionLink("四则运算练习", "About", "Home")</li>
                    <li>@Html.ActionLink("四则运算考试", "Contact", "Home")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container bottom-right">
        @RenderBody()
        @*<hr/>
            <footer>
                <p>&copy; @DateTime.Now.Year -四则运算CAI 1.0版   Annie&YHR </p>
            </footer>*@
    </div>

    @*绑定样式库*@
    @Styles.Render("~/Content/Site.css")
    @Styles.Render("~/UEditor/Css")
    @Styles.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/JqueryUI")
    @*绑定脚本库*@
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/UEditor")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
